{% extends 'base.html.twig' %}
{% block title %}Liste des Formations{% endblock %}

{% block body %}
<div class="container">
    <div class="text-center mb-4">
        <h1 style="color: black; font-family: 'Arial', sans-serif;">Liste des formations</h1>
    </div>

    {% if formations %}
        <table id="formations" class="table table-striped mx-auto">
            <thead class="table-dark">
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Titre</th>
                    <th class="text-center">Nombre de Participants</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for formation in formations %}
                    <tr>
                        <td class="text-center">{{ formation.id }}</td>
                        <td class="text-center">{{ formation.titre }}</td>

                        
                        {% set totalParticipants = formation.participants|length %}
                        <td class="text-center">{{ totalParticipants }}</td>


                        <td class="text-center">
                            <a href="{{ path('formation_show', {'id': formation.id}) }}" class="btn btn-dark">Détails</a>
                            <a href="{{ path('delete_formation', {'id': formation.id}) }}" class="btn btn-danger"
                                onclick="return confirm('Êtes-vous sûr de supprimer {{ formation.titre }}?');">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center">Aucune formation</p>
    {% endif %}

    <div class="text-center mt-4">
        <a href="{{ path('new_formation') }}" class="btn btn-danger">Ajouter une autre formation</a>
    </div>
</div>
{% endblock %}